
body {

    background: #0D47A1;
}
header{
    font-size:50px;
    color: #d6e1e9;
    margin-bottom: 30px;
    font-family: "ubuntu", serif;

}
label {
    color: #ffffff;
    margin: 1%;
    font-size: 40px;
    font-family: "ubuntu", serif;
}
#container {
    font-size: large;
    text-align: center;
    /* width: max-content; */
}
#bottone {
    font-family: "ubuntu", serif;
    font-weight:700;
    margin-top: 10px;
    text-align: center;
    color: #FFEBEE;
    background: #FF3D00;
    width: 300px;
    height: 90px;
    border-radius:10px;
    font-size: 45px;
    -webkit-text-stroke: 2px black;
    outline:none;
    
}
#bottone:disabled {
    background: #ff8864;
    -webkit-text-stroke: 2px rgb(104, 104, 104);
}
/* ########################################################################### */
.select {
    font-family: "ubuntu", serif;
    margin-top: 10px;
    width: 180px;
    border-width: 3px;
    border-radius: 10px;
    text-align-last: center;
    font-size: 30px;
    border-color: #a7bcc9;
    background-color: #ffffff;
    outline:none;
}
input {
    font-family: "ubuntu", serif;
    margin: 2%;
    height: 40px;
    width: 200px;
    text-align-last: center;
    font-size: 25px;
    background-color: white;
    outline:none;
}